* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80vw;
}

header {
  background-image: linear-gradient(rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.7)), url(/img/header.jpg);
  height: 90vh;
  justify-content: space-between;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  header {
    background-position: center;
    background-size: cover;
  }
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
}

header nav .logo {
  background: #ffba00;
  color: #fff;
  padding: 15px 15px 15px 150px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}

@media screen and (max-width: 375px) {
  header nav .logo {
    padding: 10px 10px 10px 30px;
  }
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  padding-right: 130px;
}

@media screen and (max-width: 375px) {
  header nav ul {
    background: #242424;
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    display: none;
  }
}

@media screen and (max-width: 375px) {
  header nav ul li {
    padding: 15px 0;
  }
}

header nav ul a {
  color: #fff;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 4px;
}

header nav ul a:hover {
  color: #ffba00;
}

header .bg-marker {
  height: 20vh;
  width: 100%;
  background: #ffba00;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  color: #fff;
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  letter-spacing: 4px;
}

@media screen and (max-width: 375px) {
  header .title {
    top: 55%;
    transform: translateY(-55%);
  }
}

header .title h2 {
  font-size: 6.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 300px;
}

header .title h2 span {
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  header .title h2 {
    font-size: 3rem;
    margin-bottom: 60px;
  }
}

header .title button {
  padding: 20px 20px 20px 60px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  background: #ffba00;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

header .title button:hover {
  background: #f8be1e;
}

@media screen and (max-width: 375px) {
  header .title button {
    padding: 15px;
    font-size: 1.3rem;
  }
}

.what-new {
  background-color: #242424;
  height: 70vh;
  position: relative;
}

.what-new img {
  height: 50vh;
  width: 50vw;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 375px) {
  .what-new img {
    display: none;
  }
}

.what-new .bg-marker {
  background-color: #ffba00;
  height: 20vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}

@media screen and (max-width: 375px) {
  .what-new .bg-marker {
    width: 90vw;
    left: 5%;
  }
}

.what-new article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
  width: 50vw;
  height: 40vh;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translateY(-50%);
}

@media screen and (max-width: 375px) {
  .what-new article {
    width: 100%;
    height: 70vh;
    left: 0;
  }
}

.what-new article .new-format {
  color: #fff;
  transform: rotate(270deg);
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.what-new article .new-format h3 {
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .what-new article .new-format {
    display: none;
  }
}

.what-new article hgroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
}

@media screen and (max-width: 375px) {
  .what-new article hgroup {
    height: 40vh;
  }
}

.what-new article hgroup h2 {
  font-size: 2rem;
  letter-spacing: 4px;
}

.what-new article hgroup p {
  font-size: 24px;
}

.what-new article hgroup p span {
  margin-right: 10px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 30vh;
}

@media screen and (max-width: 375px) {
  .content .container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.content .container article {
  flex: 0 0 20%;
}

.content .container article h3 {
  font-size: 1.7rem;
  color: #ffba00;
  margin-bottom: 20px;
}

.content .container article p {
  font-size: 18px;
}

.new-menu {
  height: 100vh;
  background-image: linear-gradient(rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.7)), url(/img/menu.jpg);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.new-menu h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #ffba00;
  margin-top: 3rem;
}

@media screen and (max-width: 375px) {
  .new-menu h3 {
    margin-top: 1rem;
  }
}

.new-menu .h2-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  color: #ffba00;
  border: 2px solid #fff;
  padding: 0 44rem 60px 15.5rem;
  position: absolute;
  top: 15%;
  right: 0;
}

@media screen and (max-width: 375px) {
  .new-menu .h2-title {
    padding: 10px 20px;
    font-size: 2rem;
  }
}

.new-menu .bg-marker {
  background: #ffba00;
  height: 30vh;
  width: 70vw;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media screen and (max-width: 375px) {
  .new-menu .bg-marker {
    width: 100%;
  }
}

.new-menu .bg-marker2 {
  width: 15rem;
  height: 3rem;
  background: #fffb007c;
  position: absolute;
  top: 50%;
  right: 26%;
  z-index: 22;
  transform: rotate(-90deg);
}

@media screen and (max-width: 375px) {
  .new-menu .bg-marker2 {
    right: 0;
    padding: 0;
    margin: 0;
  }
}

.new-menu .menu {
  color: #fff;
  position: absolute;
  width: 35vw;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 40px;
}

@media screen and (max-width: 375px) {
  .new-menu .menu {
    width: 100%;
    padding: 30px;
  }
}

.new-menu .menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
}

.new-menu .menu div h3 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .new-menu .menu div h3 {
    font-size: 1.3rem;
  }
}

.new-menu .menu div p {
  font-size: 2.2rem;
}

@media screen and (max-width: 375px) {
  .new-menu .menu div p {
    font-size: 1.3rem;
  }
}

.new-menu .menu small {
  font-size: 20px;
}

.new-menu .dolore {
  color: #fff;
  width: 50vw;
  height: 20vh;
}

@media screen and (max-width: 375px) {
  .new-menu .dolore {
    width: 100%;
  }
}

.new-menu .dolore h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 20px;
  padding-left: 9rem;
}

@media screen and (max-width: 375px) {
  .new-menu .dolore h2 {
    padding-left: 1rem;
    margin-bottom: 30px;
  }
}

.new-menu .dolore hgroup {
  width: 45%;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  border: 2px solid #fff;
  padding: 25px 0 25px 10rem;
  position: absolute;
  bottom: 2%;
  right: 31%;
}

@media screen and (max-width: 375px) {
  .new-menu .dolore hgroup {
    padding: 10px 15px;
    width: 100%;
    right: 0;
    bottom: 0;
  }
}

.about {
  background: #242424;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  .about {
    justify-content: space-around;
    font-size: 18px;
  }
}

.about h2 {
  color: #ffba00;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.about h2 span {
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  .about h2 {
    font-size: 1.3rem;
    margin: 1rem;
  }
}

.about p {
  width: 45vw;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 375px) {
  .about p {
    width: 90%;
  }
}

.about ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  .about ul {
    width: 60%;
  }
}

.about ul li {
  padding-right: 35px;
  cursor: pointer;
}

.about ul li:hover {
  color: #ffba00;
}

@media screen and (max-width: 375px) {
  .about ul li {
    padding-bottom: 10px;
  }
}

.masterclass {
  background-image: linear-gradient(rgba(36, 36, 36, 0.7), rgba(36, 36, 36, 0.7)), url(/img/pizza-masterclass.jpg);
  background-position: center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 200px;
}

@media screen and (max-width: 375px) {
  .masterclass {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 40px;
  }
}

.masterclass__title {
  margin-top: 4rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .masterclass__title {
    margin-top: 1rem;
    font-size: 1.3rem;
    padding-top: 0;
  }
}

.masterclass__for-you {
  background: #ffba00;
  padding: 60px 40px;
  margin-top: 4rem;
  letter-spacing: 2px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .masterclass__for-you {
    margin-top: 1rem;
  }
}

.masterclass__for-you h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .masterclass__for-you h2 {
    font-size: 1.3rem;
  }
}

.masterclass__for-you p {
  margin-top: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

@media screen and (max-width: 375px) {
  .masterclass__for-you p {
    font-size: 1.1rem;
  }
}

.masterclass__for-you div {
  text-align: right;
  margin-top: 5rem;
}

@media screen and (max-width: 375px) {
  .masterclass__for-you div {
    margin-top: 2rem;
  }
}

.masterclass__for-you div p {
  margin-top: 10px;
}

.masterclass button {
  background-color: #ffba00;
  padding: 40px 240px 20px 30px;
  margin-top: 3rem;
  font-size: 2.2rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  letter-spacing: 2px;
}

.masterclass button:hover {
  background: #f8be1e;
}

@media screen and (max-width: 375px) {
  .masterclass button {
    font-size: 1.3rem;
    padding: 30px 40px 30px 110px;
  }
}

.gallery {
  background: #242424;
  height: 120vh;
  position: relative;
}

.gallery h2 {
  color: #fff;
  letter-spacing: 4px;
  text-align: center;
  padding: 80px 0 50px;
  font-size: 2.2rem;
}

@media screen and (max-width: 375px) {
  .gallery h2 {
    font-size: 1.8rem;
    padding: 30px;
  }
}

.gallery .bg-marker {
  background: #ffba00;
  height: 120vh;
  width: 15vw;
  position: absolute;
  top: 0;
  left: 20%;
}

.gallery__top {
  position: relative;
  z-index: 4;
  flex-basis: 1;
}

.gallery__top article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 375px) {
  .gallery__top article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery__top article img {
  height: 50vh;
  flex: 0 0 23%;
}

@media screen and (max-width: 375px) {
  .gallery__top article img {
    height: 10rem;
  }
}

.gallery__top article img:first-child {
  flex: 0 0 50%;
}

@media screen and (max-width: 375px) {
  .gallery__top article img:first-child {
    flex: 0 0 23%;
  }
}

.gallery__top article img:last-child {
  display: none;
}

.gallery__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fff;
}

@media screen and (max-width: 375px) {
  .gallery__bottom {
    position: relative;
  }
}

.gallery__bottom div {
  position: relative;
  z-index: 3;
  flex: 1;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  .gallery__bottom div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.gallery__bottom div .text {
  flex: 0 0 48%;
  font-size: 22px;
  line-height: 2rem;
  position: relative;
  padding: 0 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 375px) {
  .gallery__bottom div .text {
    font-size: 20px;
    line-height: 1.4rem;
    width: 90%;
  }
}

.gallery__bottom div .text small {
  position: absolute;
  bottom: 0;
  right: 10px;
}

@media screen and (max-width: 375px) {
  .gallery__bottom div .text small {
    right: 20px;
  }
}

.gallery__bottom div .links {
  flex: 0 0 48%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  .gallery__bottom div .links {
    padding: 0 10px;
  }
}

.gallery__bottom div .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery__bottom div .links ul li {
  padding: 20px 20px 20px 0;
}

.gallery__bottom div .links ul li i {
  background-color: #fff;
  color: #242424;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.gallery__bottom div .links a {
  color: #ffba00;
  font-size: 2.2rem;
}

@media screen and (max-width: 375px) {
  .gallery__bottom div .links a {
    color: #fff;
  }
}

footer {
  height: 40vh;
  background-color: #483500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 150px;
}

@media screen and (max-width: 375px) {
  footer {
    padding: 0 20px;
  }
}

footer article {
  flex: 1;
  padding: 0 100px;
  color: #fff;
}

@media screen and (max-width: 375px) {
  footer article {
    padding: 0 20px;
  }
}

footer article h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 30px;
  padding: 50px 0;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  footer article h3 {
    font-size: 1.3rem;
  }
}

footer article li,
footer article p {
  font-size: 22px;
  letter-spacing: 1px;
}

@media screen and (max-width: 375px) {
  footer article li,
  footer article p {
    font-size: 16px;
  }
}

footer article:first-child {
  flex: 3;
}

@media screen and (max-width: 375px) {
  footer article:first-child {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */